*{
    box-sizing: border-box;
    text-align: center;
    padding: 0%;
    font-family:sans-serif;
    margin: 0%;
    }

header{
    width:100%;
    background-color: rgb(56, 54, 54);
    color:white;
    height:90px;
    padding-top:20px
}

#grid-floats .grid-item:first-child{
    width:calc(50% - 10px);
    height:410px;
    background-color: rgba(248, 125, 10, 0.959);
    }
    
#grid-floats{
    float:left;
    clear:right;
   }

.grid-item:first-child img{
       width:40%;
       height:60%;
    }    

.grid-item img{
     width:50%;height:40%;margin:20px 10px 10px 10px;
    }
h2{
    height: 50px;
    padding:10px;
    font-size: 28px;
    clear: both;
    }

 #grid-floats .grid-item{
     float:left;
    }
    .grid-item{
        width:calc(25% - 10px);
        height: 410px;
        padding:10px;
        background-color:gray;
        list-style-type: none;
        margin:5px;
        overflow: hidden;

    }

 p {
     font-size:90%; padding: 10px;
    }

 h3 {
     font-size:20px;
    }
      /*grid flex box*/

    #grid-flex{
        display: flex;
        flex-wrap: wrap;
    }
    #grid-flex .grid-item{
        flex-direction: column;
        width: calc(100% / 4 - 10px);  
    }
    
    #grid-flex .grid-item:first-child {
         width:calc(50% - 10px);
         background-color: rgba(248, 125, 10, 0.959);
    }

    

    @media screen and (max-width:768px){
    
            #grid-floats .grid-item:nth-child(-n+2){
                width:calc(50% - 10px);
                background-color: rgba(248, 125, 10, 0.959)
                }

            #grid-floats .grid-item {
                width:calc(33% - 10px);
             }  
    
           .grid-item img {
                width:50%;
                height:25%;
                margin:20px 10px 10px 10px;
    }

              #grid-flex .grid-item:nth-child(-n+2){
               width:calc(50% - 10px);
               background-color: rgba(248, 125, 10, 0.959)
               
              }
               #grid-flex .grid-item{
                   width:calc(33% - 10px);
                }

    }

     @media screen and (max-width:600px){
        #grid-floats .grid-item:first-child{
            width:calc(100% - 10px);
            } 
            .grid-item:first-child img{
                width:40%;
                height:40%;
            }  
  
            #grid-floats .grid-item {
                width:calc(50% - 10px);
                padding-top:18px;
                overflow: hidden;
             }  

              #grid-flex .grid-item:first-child {
                  width: calc(100% - 10px);
              }
              #grid-flex .grid-item{
                  width:calc(50% - 10px);
              } 
               
            }



        
            

