*{
    box-sizing: border-box;
    text-align: center;
    padding: 0%;
    font-family:sans-serif;
    margin: 0%;
    }

header{
    width:100%;
    background-color: rgb(56, 54, 54);
    color:white;
    height:90px;
    padding-top:20px
}

li:first-child{
    width:calc(50% - 10px);
    height:410px;
    background-color: rgba(248, 125, 10, 0.959);
    }
    
#grid-floas{
    float:left;
   }

   .grid-item:first-child img{
       width:40%;
       height:60%;
    }    

.grid-item img{
     width:50%;height:40%;margin:20px 10px 10px 10px;
    }
h2{
    height: 50px;
    padding:10px;
    font-size: 28px;
    clear: both;
    }

 .grid-item{
    width:calc(25% - 10px);height: 410px;
     float:left;
     padding:10px;
     background-color:gray;
     list-style-type: none;
     margin:5px;
     overflow: auto;
    }

 p {
     font-size:90%; padding: 10px;
    }

 h3 {
     font-size:20px;
    }
                
    #grig-flex{
        display: flex;
    }
    #grid-flex.grid-item{
         display: flex;
         flex-direction: row;  
    }
    #grid-flex:first-child {
         width:calc(50% - 10px);
    }
    #grid-flex .grid-item {
         width:(100% / 4 - 10px);
        }

    @media screen and (max-width:768px){
    
            li:nth-child(-n+2){
                width:calc(50% - 10px);
                height:400px;
                background-color: rgba(248, 125, 10, 0.959);
                padding-top:40px;
                }
    
            .grid-item{
                width:calc(100% / 3 - 10px);
                height:400px;
                padding-top:20px;
                overflow: scroll;
             }  
    
            .grid-item img {
                width:50%;
                height:25%;
                margin:20px 10px 10px 10px;
    }
    #grid-flex:nth-child(-n+2){
        width:cala(50 - 10px);
    }
    }

     @media screen and (max-width:600px){
        li:first-child{
            width:calc(100% - 5px);
            height:400px;
            background-color: rgba(248, 125, 10, 0.959);
            }   
  
        li:nth-child(2), .grid-item{
                width:calc(100% / 2 - 10px);
                height:450px;
                padding-top:18px;
                background-color: gray;
                overflow: scroll;
             }  
             .grid-item img{
                width:50%;
                height:20%;
             }
             .grid-item:first-child img{
                 width:40%;height:40%;
                }     
              #grid-flex .grid-item:first-child {
                  width: calc(100% - 10px);} 
              #grid-flex .grid-item{
                  width:calc(100% / 2 - 10px);
              }    
            }

            /*flex grid*/
            
            #grig-flex{
                display: flex;
            }
            #grid-flex.grid-item{
                 display: flex;
                 flex-direction: row;  
            }
            #grid-flex:first-child {
                 width:calc(50% - 10px);
            }
            #grid-flex .grid-item {
                 width:(100% / 4 - 10px);
                }

        
            

